body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding-top: 70px;
  background-image: url("../assets/ComfyUI_00012_.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
p {
  padding: 1em;
}
header {
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom: 1em;
}
main {
  width: 100%;
}
nav {
  position: absolute;
  top: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 100;
}
nav a {
  text-decoration: none;
  text-align: center;
  margin: 1em;
  font-size: larger;
}
nav a:hover {
  text-decoration: underline;
  text-decoration-color: #2B2B2B;
  text-decoration-thickness: 2px;
  cursor: pointer;
}

nav a:visited {
  color: #2B2B2B;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links li {
  list-style: none;
}

.nav-links li.active a{
  color: #E04D56;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-radius: 24px;
  padding: 1em;
}
.card h2 {
  font-size: 2em;
  color: #2B2B2B;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-align: center;
  width: 100%;
}
.card h4 {
  font-size: 0.9em;
  color: #555454;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

.card p {
  font-size: 1em;
  color: #2B2B2B;
}
.card button {
  background: #E04D56;
  color: #F8F5F2;
  border: none;
  border-radius: 10px;
  padding: 0.5em 1.5em;
  font-size: large;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

@media (min-width: 1280px) {
  nav a {
    font-size: larger;
  }
  .card-group {
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  .card {
    flex: 1;
    max-width: 400px;
    height: auto;
  }
  .card h2 {
    font-size: 1.5em;
  }
  .card p {
    font-size: 1em;
  }
  .card button {
    font-size: large;
  }
}