body {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  align-items: center;
}
p {
  padding: 1em;
}
header {
  background: white;
  min-height: 20%;
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom: 1em;
}
main {
  background: #fffffa;
  grid-column-start: 1;
  grid-column-end: 4;
  min-height: 60%;
  width: 100%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
nav {
  background: #420273;
  width: 100%;
  height: 5%;
  justify-content: center;
  display: grid;
  z-index: 1;
  position: fixed;
}
.nav-container {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  width: 60%;
  margin-top: 0;
  justify-content: center;
  align-items: center;
}
.nav-container a {
  text-decoration: none;
  color: white;
  font-size: 120%;
  text-align: center;
  margin: 1em;
}
.nav-container a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
  cursor: pointer;
}
.nav-container a:active {
  color: #020c73;
}
.nav-container a:link {
  color: white;
}
.nav-container a:visited {
  color: gray;
}